@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .bg-gradient-css {
    @apply bg-gradient-to-r from-[#F72585] to-[#7209B7];
  }
}
